<button type="button" {{bind-attr class=":tcon :tcon-grid gridType"}} aria-label="toggle grid">
  <span class="tcon-grid__item" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle grid</span>
</button>
