<button type="button" {{bind-attr class=":tcon menuType"}} aria-label="toggle menu">
  <span class="tcon-menu__lines" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle menu</span>
</button>
