# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log

# broccoli-debug
/DEBUG/

# broccoli concat analyzer
/concat-stats-for

# sublime text
/*.sublime-workspace
/*.sublime-project

# Yarn v2+ files to ignore
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.pnp.*