$header-color: #777;
$header-color-hover: #000;

html {
  font-size: 16px;
}

.navbar {
  margin-bottom: 20px;
}

.header-logo {
  width: 27px;
  margin-right: 10px;
}

.navbar-brand {
  color: $header-color !important;

  &:hover {
    color: $header-color-hover !important;
  }
}

.github-icon {
  color: $header-color;

  &:hover {
    color: $header-color-hover;
  }
}

.octicon {
  fill: $header-color;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  speak: none;

  &:hover {
    fill: $header-color-hover;
  }
}

.row-link-icons {
  margin-bottom: 20px;
}

.mail {
  display: inline-block;
  margin-bottom: 15px;
}

.scroll-default {
  display: block;
}

.github-ribbon {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}
