html {
  font-size: 16px;
}

.mail {
  margin-bottom: 15px;
  display: inline-block;
}

#scroll-default {
  display: block;
}

.github-ribbon {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}
