html,
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10px;
}

.site-nav > a {
  display: inline-block;
  padding: 10px;
  margin: 0 10px 0 0;
  text-decoration: none;
  box-shadow: 0px 0px 5px #888;
  border-radius: 3px;
  background-color: #EEE;
  color: #444;
  opacity: .7;
  -webkit-transition: .3s;
  transition: .3s;
  &:hover, &:focus, &.active {
    opacity: 1;
  }
}
