<button
  aria-label="add item"
  type="button"
  class="tcon tcon-plus {{get this.animationTypeTable this.animation}} {{if @isAdded "tcon-transform"}}"
  ...attributes
>
  <span class="tcon-visuallyhidden">add item</span>
</button>
