<button {{on "click" this.clickHandler}} aria-label="toggle search" type="button" class="tcon tcon-search--xcross {{if this.isSearching "tcon-transform"}}" ...attributes>
  <span class="tcon-search__item" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle search</span>
</button>