<button
  aria-label="toggle grid"
  type="button"
  class="tcon tcon-grid {{get this.animationTypeTable this.animation}} {{if @isOpen "tcon-transform"}}" 
  ...attributes
>
  <span class="tcon-grid__item" aria-hidden="true"></span>
  <span class="tcon-visuallyhidden">toggle grid</span>
</button>