<button {{on "click" this.clickHandler}} aria-label="remove item" type="button" class="tcon tcon-remove {{get this.animationTypeTable this.animation}} {{if this.isRemoved "tcon-transform"}}" ...attributes>
  <span class="tcon-visuallyhidden">remove item</span>
</button>
