<button
  aria-label="play video"
  role="button"
  type="button"
  class="tcon tcon-vid--play {{get this.animationTypeTable this.animation}} {{if @isPlaying "tcon-transform"}}" 
  ...attributes
>
  <span class="tcon-visuallyhidden">play video</span>
</button>