{{!--
  `ember-cli-addon-docs` needs the `div.ember-view` application-template wrapper present for css to behave as expected
--}}
<div class="ember-view">
  {{docs-header}}

  {{outlet}}

  {{docs-keyboard-shortcuts}}
</div>